// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much


// Main layout
html {
  background: #555555 url("/images/wood.jpg");
  //background: #555555;
  body > div > div {
    //border-right: none;
  }

// Header
  body > header {
    background: none;
	padding: 1.6em 0 1em 0;
	h1 {
	  //font-size: 2.5em;
      //padding-left: 15px;
      @include text-shadow(0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135);
    }
    h2 {
      margin-top: .5em;
      display: none;
    }
  }
}

// Navigation
body > nav {
  //@include single-box-shadow(#000, 1px, 3px, 5px);
  //background: url("/images/nav.jpg");
  //background: #555555;
  ul.main-navigation {
    padding-left: 3px;
  }
  ul.subscription {
    //display: none;
  }
  a {
    &:hover {
      color: hsl(209.01, 86.94%, 50.04%);
      text-shadow:
        hsl(209.01, 86.94%, 42.04%) 0px 0px 5px,
        hsl(209.01, 86.94%, 42.04%) 0px 0px 7px,
        hsl(209.01, 86.94%, 52.04%) 0px 0px 9px,
        hsl(209.01, 86.94%, 52.04%) 0px 0px 11px,
        hsl(0, 0%, 0%) 0 0 2px;

    }
    i {
      color: hsl(209.01, 86.94%, 50.04%);
      text-shadow:
        hsl(209.01, 86.94%, 42.04%) 0px 0px 5px,
        hsl(209.01, 86.94%, 42.04%) 0px 0px 7px,
        hsl(209.01, 86.94%, 52.04%) 0px 0px 9px,
        hsl(209.01, 86.94%, 52.04%) 0px 0px 11px,
        hsl(0, 0%, 0%) 0 0 2px;
    }
  }
}

body > div { 
  background-image: none; 
//background: #F5F5D5
} //侧边栏

body > div > div { //文章内容
  background-image: none; 
//background: #F5F5D5; 
//background: url("/images/textbg.jpg");
}

// Responsive design
@media only screen and (min-width: 550px) {

  body > header h1{
      background: url("/images/logo3.png") no-repeat 0 1px;
      padding-left: 65px;
  }

  body > header h2 { padding-left: 65px; }
}

@media only screen and (min-width: 1040px) {
  body > nav {
    @include border-top-radius(.4em);
  }

  body > footer {
    @include border-bottom-radius(.4em);
  }
}